@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}


body {
    transition: background-color 0.4s ease-in-out;
}

body.light {
    background-color: #edc7b7;
    color: #0c2441;
}

body.dark {
    background-color: #05101d;
    color: #edc7b7;
}

.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #123c69;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.theme-toggle:hover {
    background-color: #bab2b5;
}

.theme-toggle .bx-moon {
    font-size: 24px;
}

.theme-toggle .bx-sun {
    font-size: 24px;
}

body.dark .theme-toggle:hover {
    background-color: #edc7b7;
    color: #123c69;
}

body.dark .theme-toggle:hover {
    background-color: #123c69;
    color: #edc7b7;
}


.header, .navbar a, .home, .home-content, .home-content h3, .home-content h1, .home-content p, .home-img img, .social-media a, .btn {
    opacity: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}

.logo {
    font-size: 24px;
    color: #84a1ff;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    display: inline-block;
}

.navbar {
    justify-content: flex-end;
    
}

.navbar-toggler {
    margin-left: auto;
    background-color: #84a1ff71;
    border: 2px solid #84a1ff;
}

.navbar-toggler:hover {
    background-color: #84a1ff34
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #84a1ff;
}

.navbar-nav .nav-link {
    color: #353b8fc0;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-size: 16px;
    padding: 6px 12px 6px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #ffffff;
    background-color: #9374c5;
    box-shadow: 0 0 15px rgb(179, 151, 255);
}

.navbar-nav .nav-link.active {
    color: #ffffff;
    background-color: #b397ff;
}

.navbar-nav {
    margin-left: auto;
}

@media (max-width: 991px) {
    .navbar-collapse {
        text-align: right;
        margin-top: 10px;
    }

    .navbar-nav {
        padding: 0px -10px;
        border-radius: 10px;
    }
}

.navbar a {
    display: inline-flex;
    font-size: 18px;
    color: #6166a8;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;    
    transition: color 0.4s;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(0.2s * var(--i) + 0.5s);
}

.navbar a:hover,
.navbar a.active {
    color: #9374c5;
}


.home {
    padding-top: 250px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

.home-content {
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.5s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content h3 span {
    color: #b397ff;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.7s;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 1.8s;
}

.home-img img {
    animation: fadeIn 1s ease forwards, zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1.9s, 3s;
}

.social-media {
    display: flex;
    margin-top: 20px;
}

.social-media a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #b397ff;
    border-radius: 50%;
    font-size: 20px;
    color: #b397ff;
    text-decoration: none;
    margin-right: 15px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

.social-media a:hover {
    background: #b397ff;
    color: #1f242d;
    box-shadow: 0 0 20px #b397ff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #b397ff;
    border-radius: 40px;
    box-shadow: 0 0 10px #b397ff;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 2.5s;
}

.color-mode-toggle {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #b397ff;
    border-radius: 50%;
    font-size: 20px;
    color: #b397ff;
    text-decoration: none;
    margin-right: 15px;
    transition: background 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    animation: fadeInUp 1s ease forwards;
    animation-delay: calc(.2s * var(--i) + 2s);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes floatImage{
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-24px);
	}
	100% {
		transform: translateY(0);
	}
}
@media (max-width: 991px) {
    .header {
        padding: 20px 5%;
    }
    
    .home-content h1 {
        font-size: 36px;
    }
    
    .home-content h3 {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .home {
        padding-top: 120px;
    }
    
    .home-img {
        margin-top: 30px;
    }
}

@media (max-width: 450px) {
    .home {
        padding-top: 120px;
    }

    .home-content h1 {
        font-size: 28px;
    }
    
    .home-content h3 {
        font-size: 20px;
    }
    
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

.about, .skills, .contact {
    padding: 200px 50px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1px;
}
